.App {
  
  margin-left: 10%;
  margin-right: 10%;
  
}
.head{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
}
.summary{
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 70%;
    
}
hr{
  border: 3px solid red;
  width: 90%;
  margin-left: 0px;
}
button{
  margin: 10px;
  border: 3px solid red;
  width: 5%;
  border-radius: 4px;
  padding: 5px;
}
img:hover{
  box-shadow: 0 8px 15px 0 black;
}